@font-face {
	font-family: 'gothic';
	src: url('./gothic.eot');
	src: local('gothic'), url('./gothic.woff') format('woff'), url('./gothic.ttf') format('truetype');
}
body {
	background: #DDD;
	font-size: 15px;
  font-family: 'gothic' !important;
}

.w-99 {
	width: 99% !important;
}

.size-logo {
    width: 32px;
    height: 32px;
}

.slider {
  height: 100%;
  width: 15px;
  background: #CFB53B	;
	border: 2px solid #D4AF37;
}

@media (min-width: 992px) and (max-width: 1084px) {
	.mr--0 {
		margin-right: 0px !important;
	}
 }

 .marginImg {
	 margin-left: 1.5rem;
	 margin-right: 2rem;
 }


.textUnderline {
	text-decoration: none;
}

.textUnderline:hover {
	text-decoration: underline !important;
}

.bgAbout {
  background-image: url(../src/img/BigAboutUs.png);
  background-size: cover;
}

.bg-black {
  background-color: black;
}

.AboutColor {
  color: #9B9696;
}

.ml-400 {
  margin-left: 400px;
}

.text-black {
  color: black !important;
}

.bb-white {
  border-bottom: 1px solid white;
}

@media (max-width: 767px) {
	.bt-white-md {
	  border-top: 1px solid white;
		margin-top: 1rem !important;
	}
 }

 @media (max-width: 1243px) {
	 	.hidden-nav2 {
			display: none !important;
	 	}
  }



.bb-black {
  border-bottom: 1px solid black;
}

.text-grey {
  color: #B7B7B7 !important;
}

.slick-prev {
  left: 29px !important;
  z-index: 1;
	display: none;
}

.slick-next {
  right: 29px !important;
	display: none;
}


.slickMargin {
  margin-top: 5.35rem !important;
}
